<header class="masthead mb-auto">
  <div class="inner">
    <!-- <h3 class="masthead-brand">rdev.my</h3> -->
    <!-- <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="#">Features</a>
      <a class="nav-link" href="#">Contact</a>
    </nav> -->
  </div>
</header>

<main role="main" class="inner cover">
  <h1 class="cover-heading">rdev.my</h1>
  <p class="lead">Coming soon. Page is under maintenance.</p>
  <!-- <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
  </p> -->
</main>
