<footer class="mastfoot mt-auto">
  <div class="inner small">
    <p>&copy;2018 . All right reserved.<br>Built with <%= icon('fas', 'heart') %> by <%= link_to "9M2ROL", "https://www.facebook.com/amirolahmad", target: "_blank" %></p>
  </div>
</footer>
